* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

/* Style the nav */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 16px;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 

}

/* Reset the list style */
.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
}

/* Create horizontal list */
.nav-links li {
    float: left;
}

/* Style the links */
.nav-links li a {
    color: rgb(0, 119, 199);
    text-decoration: none;
    padding: 0 16px;
    font-weight: 550;
}

/* Change color on hover */
.nav-links li a:hover {
    color: #ffffff;
    background-color:  rgb(0, 153, 255);
    padding: 10px 20px; 
    border-radius: 20px; 

}

/* Style the logo */
.logo h4 {
    color: rgb(0, 153, 255);
    text-align: left;
    padding: 14px 16px;
}

#home{
    position: relative;
    background: rgb(0,212,255);
    background: linear-gradient(0deg, rgba(0,212,255,0) 0%, rgba(0,196,248,1) 21%, rgba(0,155,255,1) 62%);    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


.home_image img{
    width: 400px;
    height: 400px;
    filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));
}
.home_info h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    line-height: 100%;
}

.home_info p{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    line-height: 150%;
}

/* Style the buttons */
.home_info button {
    background-color: rgb(0, 110, 255); 
    color: white; 
    border-radius: 20px; 
    border: 1px solid; 
    border-color: #001aff;
    padding: 10px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

/* Change button color on hover */
.home_info button:hover {
    background-color: #00c3ff;
    border-color: #ffffff;

}

.about-section {
    display: flex;
    position: relative;
    padding-top: 100px; 
    margin-top: 100px;
}

.about-section img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-left: 100px;
    position: relative;
    z-index: 2; /* higher than the z-index of the shape */
}

.about-text {
    width: 50%;
    padding: 20px;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    font-weight: bold;
}

.about-text h1 {
    align-self: flex-start;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #00308a;
    line-height: 90%;
    font-weight: bolder;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 0; 
    width: 400px; 
    height: 400px; 
    background: rgba(0, 204, 255, 0.466); 
    border-radius: 50%; 
    filter: blur(80px); 
    z-index: 1; 
    transform: translateY(-50%); 
}
/* Style the links inside the buttons */
.home_info button a {
    color: white; 
    text-decoration: none; 
}

#detect_ingredients{
    height: 100vh;
    width: auto;
    padding-top: 100px; 
    margin-top: 0; 
    position: relative;
    overflow: hidden; 
}

.container{
    display: flex;
    margin: 50px;
    padding: 20px;
    
}

.container-1 {
    height: 400px;
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;
}

.container-1 h1{
    margin-left: 10px;
}

.container-1 input[type="file"] {
    /* Style for the file input */
    border: 1px solid #ddd;
    padding: 10px;
    color: #888;
    width: 70%;
    margin-bottom: 20px;
}

.container-1 input[type="submit"] {
    /* Style for the submit button */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-1 input[type="submit"]:hover {
    /* Style for the submit button on hover */
    background-color: #0099ff;
}


.upload-btn-wrapper {
    position: relative;
    width: 350px; 
    height: 230px;
    border: 4px dashed #00cbfd;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #00c3ff5d;
}

.upload-btn-wrapper input[type="file"] {
    display: none;
}

.upload-btn-wrapper label {
    color: #015752;
    font-size: large;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.container-2 {
    height: 400px;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;
    position: relative;

}

.container-2::after {
    content: "";
    position: absolute;
    top: -20px; 
    right: -250px; 
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
    background: #00b7ff; 
    filter: blur(100px); 
    z-index: -1;
}

.container-2::before {
    content: "";
    position: absolute;
    bottom: -150px; 
    left: -850px; 
    width: 450px; 
    height: 450px; 
    border-radius: 50%;
    background: #00b7ff; 
    filter: blur(150px); 
    z-index: -1;
}

.container-2 h2{
    margin-left: 10px;
}

#harmful-ingredients-list {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgba(0, 204, 255, 0.466);
    height: 320px;
    border-radius: 15px;
    overflow-y: auto;
}

#contact{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 153, 255);
    color: white;
}
#about{
    height: 100vh;
    background-color: #ffffff;
}

/* This will change the scrollbar for the whole page */
html {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 153, 255) #ffffff;
}

/* For Webkit browsers like Chrome and Safari */
body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background: #ffffff; 
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 153, 255);
    border-radius: 20px; 
    border: 3px solid #ffffff; 
}