body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    margin-top: 85px;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #0099ff; 
    color: #fff;
}

.home-link {
    text-decoration: none;  
    color: rgb(255, 255, 255); 
    margin-left: 50px;
    transition: color 0.3s ease; 
}

.home-link h1 {
    font-size: 25px;  
    margin: 0;  
}

.home-link:hover {
    color: rgb(0, 57, 143); 
}

.logout-btn {
    margin-right: 50px;
    background-color: #fff;
    color: #000000;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: 0.3s ease; 

}

.logout-btn:hover {
    background-color: #003cff;
    color: #fff;
}

.refresh-btn-form {
    display: inline-block;
    margin-left: 10px;
}

.refresh-btn {
    background: none;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}

.refresh-btn img {
    width: 40px;
    height: 40px;
}

#user_info,
#analyze_ingredients {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}

#user_info{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#analyze_ingredients{
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.harmful_ingredients {
    height: 370px;
    width: 650px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.ingredients_list{
    height: 180px;
    width: 610px;
    background-color: rgb(180, 255, 251);
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.ingredients_list ul {
    list-style-type: none;
    padding: 0; 
}

.ingredients_list ul li {
    padding: 10px 10px 10px 0; 
    border-bottom: 1px solid #000000; 
}

.ingredients_list ul li:last-child {
    border-bottom: none; 
}

.upload_image {
    height: 350px;
    width: 450px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;
}

.upload_image h2, p{
    margin-left: 20px;
}

.upload_image input[type="file"] {
    /* Style for the file input */
    border: 1px solid #ddd;
    padding: 10px;
    color: #888;
    width: 70%;
    margin-bottom: 20px;
}

.upload_image input[type="submit"] {
    /* Style for the submit button */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload_image input[type="submit"]:hover {
    /* Style for the submit button on hover */
    background-color: #0099ff;
}


.upload-btn-wrapper {
    position: relative;
    width: 420px; 
    height: 130px;
    border: 4px dashed #00cbfd;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #00c3ff5d;
}

.upload-btn-wrapper input[type="file"] {
    display: none;
}

.upload-btn-wrapper label {
    color: #015752;
    font-size: large;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.doctor-email-dropdown {
    width: 100%;
    height: 30px;
    color: #ffffff;
    background-color: rgb(0, 162, 255);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.doctor-email-dropdown option {
    background-color: #5fc4ff;  
    color: #ffffff;  
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 153, 255);
    border: 3px solid #ffffff; 
}

