body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    margin-top: 85px;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #0099ff; 
    color: #fff;
    z-index: 1;

}

.home-link {
    text-decoration: none;  
    color: rgb(255, 255, 255); 
    margin-left: 50px;
    transition: color 0.3s ease; 
}

.home-link h1 {
    font-size: 25px;  
    margin: 0;  
}

.home-link:hover {
    color: rgb(0, 57, 143); 
}

.logout-btn {
    margin-right: 50px;
    background-color: #fff;
    color: #000000;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: 0.3s ease; 

}

.logout-btn:hover {
    background-color: #003cff;
    color: #fff;
}

.refresh-btn-form {
    display: inline-block;
    margin-left: 10px;
}

.refresh-btn {
    background: none;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}

.refresh-btn img {
    width: 40px;
    height: 40px;
}

#user_info,
#analyze_ingredients {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}

#user_info{
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.edit-profile-btn {
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: #007BFF;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* Add this line */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add this line */
}

.edit-profile-btn:hover {
    transform: scale(0.9);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4); /* Add this line */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


form {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#analyze_ingredients{
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#results_response_section{
    width: 95%;
    margin-bottom: 150px;
}

.results_response {
    display: flex;
    justify-content: space-between;
}


.harmful_ingredients {
    height: 370px;
    width: 550px;
    margin-left: 50px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.ingredients_list{
    height: 180px;
    width: 510px;
    background-color: rgb(180, 255, 251);
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: auto;

}

.ingredients_list ul {
    list-style-type: none;
    padding: 0; 
}

.ingredients_list ul li {
    padding: 10px 10px 10px 0; 
    border-bottom: 1px solid #000000; 
}

.ingredients_list ul li:last-child {
    border-bottom: none; 
}

.upload_image {
    display: flex;  /* Make this a flex container */
    justify-content: space-between; 
    margin-bottom: 50px;
}

.upload_section {
    height: 350px;
    width: 550px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;
}

.upload_section h2, p{
    margin-left: 20px;
}

.upload_section input[type="file"] {
    /* Style for the file input */
    border: 1px solid #ddd;
    padding: 10px;
    color: #888;
    width: 70%;
    margin-bottom: 20px;
}

.upload_section input[type="submit"] {
    /* Style for the submit button */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload_section input[type="submit"]:hover {
    /* Style for the submit button on hover */
    background-color: #0099ff;
}


.image_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;  
    padding: 10px;     
    height: 350px;
    width: 550px;
    margin-left: 50px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;
}

.image_preview h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

.image_preview img {
    box-sizing: border-box;  
    max-width: 90%;  
    max-height: 90%;  
    display: block;  
    margin: auto;  
    padding: 10px;  
    padding-bottom: 25px;
    margin-top: auto;  /* Push the image to the bottom */
}

#image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#placeholder-text {
    color: #000000;  
    padding-bottom: 100px;
    margin-top: auto;  
}


.upload-btn-wrapper {
    position: relative;
    width: 520px; 
    height: 130px;
    border: 4px dashed #00cbfd;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #00c3ff5d;
}

.upload-btn-wrapper input[type="file"] {
    display: none;
}

.upload-btn-wrapper label {
    color: #015752;
    font-size: large;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.doctor-email-dropdown {
    width: 100%;
    height: 30px;
    color: #ffffff;
    background-color: rgb(0, 162, 255);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.doctor-email-dropdown option {
    background-color: #5fc4ff;  
    color: #ffffff;  
}

.doctor_dataview{
    margin: 50PX;
    background-color: #007BFF;
}

.doctor_dataview{
    height: 370px;
    width: 850px;
    margin: 0;
    margin-left: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(4, 205, 255) 4px solid;
    border-radius: 15px;
    box-shadow: 5px 8px 10px #6cdafc;
    overflow: auto;
}

.doctor_dataview caption {
    font-size: 20px;
    font-weight: bold;
    top: 0;
    color: #fff;
    background: #00c3ff; 
    padding-top: 5px;

}

.doctor_dataview table {
    width: 100%;
    border-collapse: collapse;
}

.doctor_dataview th, .doctor_dataview td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.doctor_dataview td:last-child, .doctor_dataview th:last-child {
    border-right: none;
}

.doctor_dataview th:nth-child(1), .doctor_dataview td:nth-child(1) {
    width: 150px; /* Adjust as needed */
}


.doctor_dataview th {
    border-top: 2px solid #000000;;
    position: sticky;
    top: 0;
    background: #00c3ff; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);        
    
}

.doctor_dataview tr:hover {
    background-color: #f4f4f4;
}

.doctor_dataview a {
    display: inline-block;
    color: #fff;
    background-color: #0099ff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    
    transition: background-color 0.3s ease;
}

.scrollable-tbody {
    display: block;
    height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

.scrollable-tbody tbody {
    display: table;
    width: 100%;
}

.doctor_dataview a:hover {
    background-color: #007bce;
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 153, 255);
    border: 2px solid #ffffff; 
    border-radius: 20px;
}

