* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Style the nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 14px 16px;
}

/* Reset the list style */
.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
}

/* Create horizontal list */
.nav-links li {
    float: left;
}

/* Style the links */
.nav-links li a {
    color: rgb(0, 153, 255);
    text-decoration: none;
    padding: 0 16px;
}

/* Change color on hover */
.nav-links li a:hover {
    color: #ffffff;
    background-color:  rgb(0, 153, 255);
    padding: 10px 20px; /* Adjust as needed */

}

/* Style the logo */
.logo h4 {
    color: rgb(0, 153, 255);
    text-align: left;
    padding: 14px 16px;
}

#home{
    background: linear-gradient(108.7deg, rgb(34, 219, 231) -0.9%, rgb(52, 118, 246) 88.7%);
    height: 100vh;
    width: auto;
}

#detect_ingredients{
    background: linear-gradient(108.7deg, rgb(20, 238, 0) -0.9%, rgb(52, 118, 246) 88.7%);
    height: 100vh;
    width: auto;
}

.container{
    background-color: black;
    margin: 50px;
    padding: 20px;
}

.container-1 {
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(255, 81, 0);
    color: white;
    border-radius: 15px;

}

.container-2 {
    height: 200px;
    width: 100%;
    padding-left: 30px;
    margin-top: 20px;
    background-color: rgb(4, 205, 255);
    color: white;
    border-radius: 15px;
}

#harmful-ingredients-list {
    background-color: coral;
    height: 150px;
    overflow-y: auto;
}