* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Style the nav */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 16px;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Add this line */

}

/* Reset the list style */
.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
}

/* Create horizontal list */
.nav-links li {
    float: left;
}

/* Style the links */
.nav-links li a {
    color: rgb(0, 119, 199);
    text-decoration: none;
    padding: 0 16px;
    font-weight: 550;
}

/* Change color on hover */
.nav-links li a:hover {
    color: #ffffff;
    background-color:  rgb(0, 153, 255);
    padding: 10px 20px; /* Adjust as needed */

}

/* Style the logo */
.logo h4 {
    color: rgb(0, 153, 255);
    text-align: left;
    padding: 14px 16px;
}

#home{
    background: linear-gradient(108.7deg, rgb(34, 219, 231) -0.9%, rgb(52, 118, 246) 88.7%);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.home_image img{
    width: 400px;
    height: 400px;
    filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));
}
.home_info h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    line-height: 100%;
}

.home_info p{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    line-height: 150%;
}

/* Style the buttons */
.home_info button {
    background-color: rgb(0, 110, 255); /* Button color */
    color: white; /* Text color */
    border-radius: 20px; /* Rounded corners */
    border: 1px solid; /* Remove borders */
    border-color: #001aff;
    padding: 10px 32px; /* Button size */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Change cursor when hovering over the button */
    transition: background-color 0.3s ease; /* Add transition effect */
}

/* Change button color on hover */
.home_info button:hover {
    background-color: #00c3ff;
    border-color: #ffffff;

}

/* Style the links inside the buttons */
.home_info button a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
}
#detect_ingredients{
    background: linear-gradient(108.7deg, rgb(20, 238, 0) -0.9%, rgb(52, 118, 246) 88.7%);
    height: 100vh;
    width: auto;
}

.container{
    background-color: black;
    margin: 50px;
    padding: 20px;
}

.container-1 {
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(255, 81, 0);
    color: white;
    border-radius: 15px;

}

.container-2 {
    height: 200px;
    width: 100%;
    padding-left: 30px;
    margin-top: 20px;
    background-color: rgb(4, 205, 255);
    color: white;
    border-radius: 15px;
}

#harmful-ingredients-list {
    background-color: coral;
    height: 150px;
    overflow-y: auto;
}


/* Add this to your CSS file */

/* This will change the scrollbar for the whole page */
html {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 153, 255) #ffffff;
}

/* For Webkit browsers like Chrome and Safari */
body::-webkit-scrollbar {
    width: 12px; /* Adjust scrollbar width */
}

body::-webkit-scrollbar-track {
    background: #ffffff; /* Adjust scrollbar track color */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 153, 255); /* Adjust scrollbar thumb color */
    border-radius: 20px; /* Make it round */
    border: 3px solid #ffffff; /* Add a border */
}