<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR and Ingredient Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .container-2 {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Upload Image</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".jpg, .jpeg, .png">
            <input type="submit" value="Upload">
        </form>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        {% if harmful_ingredients %}
        <div class="container-2">
            <h2>Harmful Ingredients Detected:</h2>
            <ul>
                {% for ingredient, description in harmful_ingredients %}
                    <li>{{ ingredient }} - {{ description }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>