<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR and Ingredient Detection</title>
    <link rel="stylesheet" href="static\style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="container-1">
            <h1>Upload Image</h1>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".jpg, .jpeg, .png">
                <input type="submit" value="Upload">
            </form>

            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>
        
        <div class="container-2">
            <h2>Harmful Ingredients Detected:</h2>
            <div id="harmful-ingredients-list">
                <ol>
                    {% if harmful_ingredients %}
                        {% for ingredient, description in harmful_ingredients %}
                            <li>{{ ingredient }} - {{ description }}</li>
                        {% endfor %}
                    {% endif %}
                </ol>
            </div>
            
        </div>
    </div>
    
    <script>
        $(document).ready(function(){
            $("form").on("submit", function(event){
                event.preventDefault();
        
                var formData = new FormData(this);
        
                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: formData,
                    success: function(data){
                        // Clear any existing error message and harmful ingredients
                        $('.error').text('');
                        $('#harmful-ingredients-list').empty();
        
                        // Display the error message, if any
                        if (data.error) {
                            $('.error').text(data.error);
                        }
        
                        // Display the harmful ingredients, if any
                        if (data.harmful_ingredients.length > 0) {
                            $.each(data.harmful_ingredients, function(i, ingredient) {
                                $('#harmful-ingredients-list').append('<li>' + ingredient[0] + ' - ' + ingredient[1] + '</li>');
                            });
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>

</body>
</html>
