<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="static\css\user_style.css">
    <script src="static/js/user.js"></script>

</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}" class="home-link">
            <h1>Harmful Ingredient Detection</h1>
        </a>
        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>   
    </nav>

    <section id="user_info">
        <h1>User Profile:</h1>
        <!-- <a href="{{ url_for('edit_profile') }}" class="edit-profile-btn">Edit Profile</a> -->

        <a href="{{ url_for('edit_profile') }}" >
            <img src="static\images\pencil.png" alt="Edit Profile" class="edit-profile-btn">
        </a>


        <ul>
            <li>Name: {{ user[1] }}</li>
            <li>Email: {{ user[2] }}</li>
            <li>Age: {{ user[3] }}</li>
            <li>Gender: {{ user[4] }}</li>

            <h2>Health status:</h2>

            <li>Obese: {{ user[6] }}</li>
            <li>Diabetes: {{ user[7] }}</li>
            <li>High BP: {{ user[8] }}</li>
            <li>High Choloestrol: {{ user[9] }}</li>
            <li>Fatty Liver: {{ user[10] }}</li>
            <li>Kidney: {{ user[11] }}</li>
            <li>Heart Problem: {{ user[12] }}</li>
            <li>Lactose Intolerance: {{ user[13] }}</li>
        </ul>

    </section>

    <section id="analyze_ingredients" class="flex-container">
        <div class="content">
            <div class="upload_image">
                <div class="upload_section">
                    <h2>Upload Image of Ingredients</h2>
                    <p>Upload the image of the food ingredients list to analyze harmful ingredients in it based on your profile</p>
                    
                    <form method="post" enctype="multipart/form-data">
                        <div class="upload-btn-wrapper">
                            <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png" onchange="previewImage(event)">
                            <label for="file">Click to select ingredients image</label>
                        </div>
                        <input type="submit" name="upload" value="Analyze the ingredients">
                    </form>
                
                    {% if error %}
                    <p class="error">{{ error }}</p>
                    {% endif %}
                </div>
        
    
                <div class="image_preview">
                    <h2>Image Details:</h2>
                    <div id="image-container">
                        <img id="image-preview" alt="" />
                        <p id="placeholder-text">No image selected</p>
                    </div>
                </div>
    
            </div>
        </div>
    </section>

    <section id="results_response_section">
        <div class="results_response">

            <div class="harmful_ingredients">
                <div class="header-container">
                    <h2>Harmful Ingredients found for user</h2>
                    <form method="POST" class="refresh-btn-form">
                        <input type="hidden" name="refresh_data" value="true">
                        <button type="submit" class="refresh-btn">
                            <img src="static/images/refresh0.png" alt="Refresh Data">
                        </button>
                    </form>
                </div>
    
                <div class="ingredients_list">
                    {% if harmful_ingredients %}
                        {% if harmful_ingredients[0] is string %}
                            {{ harmful_ingredients[0] }}
                        {% else %}
                            <ul>
                                {% for ingredient in harmful_ingredients %}
                                    <li>{{ ingredient[0] }} - {{ ingredient[1] }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        <h2>Upload image to find harmful ingredients in the food product for user</h2>
                    {% endif %}
                </div>
    
                <form action="{{ url_for('user') }}" method="post">
                    <select name="doctor_email" class="doctor-email-dropdown">
                        <option value="family_doctor">Family Doctor</option>
                        {% for doctor in doctors_details %}
                            <option value="{{ doctor.email }}">
                                {{ doctor.name }}, {{ doctor.qualifications }}, {{ doctor.experience }} years experience, {{ doctor.email }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="send_to_doctor">
                    <input type="submit" name="email" value="Send to Doctor" class="my-button">
                </form>

            </div>

            <div class="doctor_dataview">
                <table>
                    <caption>Doctor's Details</caption>

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Qualifications</th>
                            <th>Experience</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td colspan="4"> <!-- Adjust the number to match the number of columns in your table -->
                                <a href="{{ url_for('user', order_by='experience', direction='ASC') }}">Sort experience (ascending)</a>
                                <a href="{{ url_for('user', order_by='experience', direction='DESC') }}">Sort experience (descending)</a>
                                <a href="{{ url_for('user', order_by='degrees', direction='ASC') }}">Sort number of degrees (ascending)</a>
                                <a href="{{ url_for('user', order_by='degrees', direction='DESC') }}">Sort number of degrees (descending)</a>
                            </td>
                        </tr>
                        {% for doctor in doctors_details %}
                        <tr>
                            <td>{{ doctor.name }}</td>
                            <td>{{ doctor.email }}</td>
                            <td>{{ doctor.qualifications }}</td>
                            <td>{{ doctor.experience }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                   
            </div>

        </div>
    </section>

</body>
</html>


